---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import Text from "../design-system/Text.astro";

interface Props {
  name: string;
  links?: Array<{
    name: string;
    icon: string;
    url: string;
  }>;
}

const { name, links } = Astro.props;

const imageName = `${name.split(" ").join("-").toLocaleLowerCase()}.png`;
---

<Picture
  src={`/images/people/${imageName}`}
  alt={`Portrait of ${name}`}
  sizes="100vw, (min-width: 640px) 50vw, (min-width: 768px) 33vw"
  widths={[337, 200, 100]}
  aspectRatio="1:1"
  formats={["avif", "webp", "png"]}
  class="mb-4 w-full"
/>
<Text as="h3" weight="bold" uppercase className="text-text mb-2">
  {name}
</Text>
<div class="text-text-light prose">
  <slot />
</div>
{
  links && (
    <ul class="flex gap-4 [&_svg]:w-[20px] [&_svg]:h-[20px] mt-6 items-center">
      {links.map((link) => (
        <li>
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-team-links hover:opacity-80"
          >
            <Icon name={link.icon} />
            <span class="sr-only">{link.name}</span>
          </a>
        </li>
      ))}
    </ul>
  )
}
