---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import Heading from "../design-system/Heading.astro";

interface Props {
  name: string;
  links?: Array<{
    name: string;
    icon: string;
    url: string;
  }>;
}

const { name, links } = Astro.props;

const imageName = `${name.split(" ").join("-").toLocaleLowerCase()}.png`;
---

<Image
  src={`/images/people/${imageName}`}
  alt={`Portrait of ${name}`}
  format="avif"
  width={336}
  height={336}
  class="mb-4 w-full"
/>
<Heading as="h3" level="4" className="text-text mb-2">
  {name}
</Heading>
<div class="text-text-light prose">
  <slot />
</div>
{
  links && (
    <ul class="flex gap-4 [&_svg]:w-[20px] [&_svg]:h-[20px] mt-6 items-center">
      {links.map((link) => (
        <li>
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-team-links hover:opacity-80"
          >
            <Icon name={link.icon} />
            <span class="sr-only">{link.name}</span>
          </a>
        </li>
      ))}
    </ul>
  )
}
