---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import Heading from "../design-system/Heading.astro";
import Text from "../design-system/Text.astro";

interface Props {
  name: string;
  description: string;
  links: Array<{
    name: string;
    icon: string;
    url: string;
  }>;
}

const { name, description, links } = Astro.props;

const imageName = `${name.split(" ").join("-").toLocaleLowerCase()}.png`;
---

<Image
  src={`/images/team/${imageName}`}
  alt={`Portrait of ${name}`}
  format="avif"
  width={336}
  height={336}
  class="mb-4 w-full"
/>
<Heading as="h3" level="4" className="text-collective-text mb-2">
  {name}
</Heading>
<Text as="p" className="text-collective-text-light" set:html={description} />
{
  links.length > 0 && (
    <ul class="flex gap-4 [&_svg]:w-[20px] [&_svg]:h-[20px] mt-6">
      {links.map((link) => (
        <li>
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-collective-team-links hover:opacity-80"
          >
            <Icon name={link.icon} />
            <span class="sr-only">{link.name}</span>
          </a>
        </li>
      ))}
    </ul>
  )
}
