---
import { getCollection, render } from "astro:content";
import Container from "../design-system/Container.astro";
import Heading from "../design-system/Heading.astro";
import Text from "../design-system/Text.astro";
import Person from "./Person.astro";
import PersonGrid from "./PersonGrid.astro";

const members = await getCollection("team");
---

<section id="team" class="bg-team">
  <Container inset className="pt-20 pb-32">
    <Heading level="2" className="text-text mb-4">
      Members of the collective
    </Heading>
    <Text as="p" size="large" className="text-text-light mb-20">
      The founders of the Life Centered Design Collective, who are driving
      things forward:
    </Text>
    <PersonGrid>
      {
        members.map(async (member) => {
          const { Content } = await render(member);
          return (
            <li>
              <Person
                name={member.data.name}
                location={member.data.location}
                services={member.data.services}
                cta={member.data.cta}
                links={member.data.links}
              >
                <Content />
              </Person>
            </li>
          );
        })
      }
    </PersonGrid>
  </Container>
</section>
