---
import "@fontsource/dm-sans/400-italic.css";
import "@fontsource/dm-sans/400.css";
import "@fontsource/dm-sans/700-italic.css";
import "@fontsource/dm-sans/700.css";
import "@fontsource-variable/source-serif-4";
import Favicons from "../components/Favicons.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import SEO from "../components/SEO.astro";

interface Props {
  title?: string;
  description?: string;
  slug?: string;
  previewImage?: string;
}

const { title, description, previewImage, slug } = Astro.props;

const defaultTitle = "Life Centered Design Collective";
const pageTitle = !title ? defaultTitle : `${title}  |  ${defaultTitle}`;
const pageDescription = description
  ? description
  : "Life Centered Design Collective";
const newSlug = slug ? `/${slug}` : "";
const pagePreviewImage = previewImage ? previewImage : "og-image.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={pageTitle}
      description={pageDescription}
      slug={newSlug}
      previewImage={pagePreviewImage}
    />
    <Favicons />
    <script
      is:inline
      data-no-cookie
      data-respect-dnt
      async
      data-api="/_hive"
      src="/bee.js"></script>
  </head>
  <body>
    <Navigation />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
